# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# Visual Studio code coverage results
*.coverage
*.coveragexml

# exclude sensor data 
SensorService/data/**/*
SensorService/data

# all mounted volumes
volumes/**/*

# ignore git dir 
**/.git
